
.App {
  text-align: center;
}

.navbar {
  width:100%;
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    rgb(204, 175, 246) 0%, rgb(136, 0, 255) 40%, rgb(246, 146, 255) 60%, violet 100%
  );
  background-size: 200% 200%;
  animation: movingGradient 10s linear infinite alternate;

}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.nav {
  display: flex;
  justify-content: end;
  font-size: 25px;
}

.navLink {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color:rgb(255, 255, 255);
  font-weight: 600;
}

.navTitle {
  text-decoration: none;
  font-size: 32px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  color:aliceblue;
  font-weight:bold;
}