.BioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-bottom: 1px;
    bottom: 5px;
}

.BioTitle {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.BioTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(122, 32, 206);
    border-radius: 15px 15px 15px 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;
}


p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
    color:aliceblue;
    text-align: center;
}
