.BioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.BioTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

}


